language: cpp
compiler: g++
git:
  submodules: false
cache:
- build/dependencies
before_install:
- sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
- git submodule update --init --recursive
install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
addons:
  apt:
    sources:
    - george-edison55-precise-backports
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
    - cmake
    - cmake-data
script: mkdir build && cd build && cmake -Dtest=ON .. && make && make test
after_success:
- if [ "$TRAVIS_BRANCH" == "master" ]; then git config --global user.email "builds@travis-ci.com";
  git config --global user.name "Travis CI"; git tag -f -a latest -m "Live build of
  latest master from CI"; git push --quiet https://${GH_TOKEN}@github.com/lasalvavida/ahoy
  -f --tags > /dev/null 2>&1; fi;
- if [ ! -z "$TRAVIS_TAG" ]; then export RELEASE=`echo "$TRAVIS_TAG"| awk -F"-" '{print
  $1}'`; export RELEASE_FILE=ahoy-$RELEASE-linux.zip; find . -path ./CMakeFiles -prune
  -o -iname \*.a -o -perm /u+x | zip -@ -j $RELEASE_FILE; fi;
env:
  global:
  - secure: UqM6PUInMCPLaRMFzbFRxnpWq1xUxVGLj5CHDMigyzazlAZdXk4uwOKzyJ/w9X50tjT60bzsGeW/Sj0nzE7NiECCNCQrWoHuCtGPDCHYHP2nyF05fjmAdVtYEx9G4gKbXSFn/V3Op79eKaa38Q6wYao8UQ24wDL/davxF/CnlzjvmjTETdn8Ds+4owOo6XzPVC7oJLWQkVDJ8LG/vef929ylhgH5HMafl89x2uy0ziaSt4MtgfEvJQlkn+ifNFb+8LchBSqqMF+OlbTDE4I1ArZL8rIK+Q5QgZNwjn932nFKRohEmDrkcB5zvyzK++b580B2r7Y3KM9CHO+V9Bb2VJbJNEhptHDNwtXratkqXkHUcZ0bnngkK36uCpy5NAY2I2h356ySL7dENojsJmPMFR3YpYlARZbtmD5J4UVW2N29M2JUAhMIbhpf5m+6W6XH8TAxbejvEU6JQGB9z3u2XaYZeG5HtOZwno451itbmal7xa/sZsqL8RqOJ70u+cKcvLczyP8y4uuUNmDghftfpKem9/CnL4Yk2iSl4OgoVKT7cnz+6vie5ufQ6vB/SvVaAyg57zGvR1PZOG2/R8kEb0sobbiJIHwHQAePo0Hu6FFnuGJZ7lVmL250PO4eK7Wx6GNg5mat3U20mU8OmIH6UrAzNB/isop8ycfCNp8Koo8=
  provider: releases
  file: "$RELEASE_FILE"
  skip_cleanup: true
  on:
    tags: true
  overwrite: true
  api-key:
    secure: aginqRuAKm1eWJI0pZ9H7e493L2KrI4QUmvOGF9RjoBW6if+up/P3YrEbolRAX9Qv9B7nIMHRdOuwgUmI7kx/DMjJytCaOUF+R50RXHoEEGtm9BgXcLy33bYrDyW/Mh43d62/v529JG5akLUdZ+Ulj5oMIV3kKWr/AuItypQm9dfVzmLQu4fwnBC0IlSeNbsOClbSqEC3tOd1gZx7mL1nYa8IWOk4dAvX6RAzGAi0EsvAGn1m/xB7Y9zAbQUL2YYLTtqRCC/dR0+tLtfkkjDpscCIpvt8jhckfIR909WvFkzMcz7Gc1hCAXrKnXquKUBz7ntvZfGPuorbdY6r4N+WdeGkzP18obYPdkeuPuRded2yUjd2Y10tMV2h/NbeyUw2MbC57gBsH3Fwn0Y2B3krUUU4zqSWKZ+SGK+EsL+el9OwESGbJeJi4YX0WgyeQvXouTo+FXr5oJmHF5+qnbnZzgyHWqjnjkI+1lE/RgKdnVB4Vg/0huPqb0AGGVVWd2WjxmkCKNo3OEkWmG1Qq2O2nj04cHrNpmNYsEiwMbTwlnlj+DrG1fuqBVjfORpEzZm9p6P2SeAo841/fsqA7IyUb/PLS+kF+cmLCOHEOoSBrQVq88imbx2NyyZQtxXyhqJaJl/xtEmp8Ao5Wfpe3bC6RMlwGWIegkzIfViN+IZTlY=
